body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.BUTTON_BUS {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 19px;
  background-color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.end {
  color: #EAF6F6;
}

h1 {
  color: #1b2021;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  color: #1b2021;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-top: 6px dotted #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.code-img {
  width: 25%;
  border-radius: 200%;
  float: left;
  margin-right: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

a {
  color: white;
  font-family: 'helvetica', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: black;
}

.end {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #eac8af;
  padding: 50px 0 20px;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #40514E;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}



.top-container {
  background-color: #5f939a;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;

}
